asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
aiohttp>=3.8.0
aiofiles>=0.8.0
moviepy
natsort
opencv-python
Pillow
psutil
pytz
pyrofork==2.2.11
requests
tgcrypto
uvloop
yt_dlp
pymegatools
rarfile>=4.2
sabyenc>=3.3.6
