curl_cffi
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
aiohttp==3.13.3
aiofiles>=0.8.0
defusedxml>=0.7.1
moviepy
natsort
opencv-python
Pillow==12.1.1
psutil
pytz
pyrofork==2.3.69
requests==2.32.4
tgcrypto
uvloop; platform_system != "Windows"
yt-dlp[default,curl-cffi]>=2026.2.21
pymegatools
rarfile>=4.2
sabyenc>=3.3.6
terabox-downloader>=1.0.0
pymongo==4.6.3
