usage: cyclonedx-py requirements [-h] [-i <url>] [--extra-index-url <url>]
                                 [--pyproject <file>] [--mc-type <type>]
                                 [--short-PURLs] [--sv <version>]
                                 [--output-reproducible] [--of <format>]
                                 [-o <file>] [--validate | --no-validate] [-v]
                                 [<requirements-file>]

Build an SBOM from Pip requirements.

The options and switches mimic the respective ones from Pip CLI.

positional arguments:
  <requirements-file>   Path to requirements file. May be set to "-" to read
                        from <stdin>. (default: 'requirements.txt' in current
                        working directory)

options:
  -h, --help            show this help message and exit
  -i <url>, --index-url <url>
                        Base URL of the Python Package Index. This should
                        point to a repository compliant with PEP 503 (the
                        simple repository API) or a local directory laid out
                        in the same format. (default: https://pypi.org/simple)
  --extra-index-url <url>
                        Extra URLs of package indexes to use in addition to
                        --index-url. Should follow the same rules as --index-
                        url
  --pyproject <file>    Path to the root component's `pyproject.toml` file.
                        This should point to a file compliant with PEP 621
                        (Storing project metadata in pyproject.toml). Supports
                        PEP 639 (Improving License Clarity with Better Package
                        Metadata).
  --mc-type <type>      Type of the main component. {choices: application,
                        firmware, library} (default: application)
  --short-PURLs         Omit all qualifiers from PackageURLs. This causes
                        information loss in trade-off shorter PURLs, which
                        might improve ingesting these strings.
  --sv <version>, --spec-version <version>
                        Which version of CycloneDX to use. {choices: 1.7, 1.6,
                        1.5, 1.4, 1.3, 1.2, 1.1, 1.0} (default: 1.6)
  --output-reproducible
                        Whether to go the extra mile and make the output
                        reproducible. This might result in loss of time- and
                        random-based values.
  --of <format>, --output-format <format>
                        Which output format to use. {choices: JSON, XML}
                        (default: JSON)
  -o <file>, --output-file <file>
                        Path to the output file. (set to "-" to output to
                        <stdout>) (default: -)
  --validate, --no-validate
                        Whether to validate resulting BOM before outputting.
                        (default: True)
  -v, --verbose         Increase the verbosity of messages (multiple for more
                        effect) (default: silent)

Example Usage:
  ? Build an SBOM from a requirements file:
      $ cyclonedx-py requirements requirements-prod.txt
  ? Merge multiple files and build an SBOM from it:
      $ cat requirements/*.txt | cyclonedx-py requirements -
  ? Build an inventory for all installed packages:
      $ python -m pip freeze --all | cyclonedx-py requirements -
  ? Build an inventory for all installed packages in a conda environment:
      $ conda run python -m pip freeze --all | cyclonedx-py requirements -
  ? Build an inventory for installed packages in a Python (virtual) environment:
      $ .../.venv/bin/python -m pip freeze --all --local --require-virtualenv | \
        cyclonedx-py requirements -
  ? Build an inventory from an unfrozen manifest:
      $ python -m pip install -r dependencies.txt && \
        python -m pip freeze | cyclonedx-py requirements -

